[[local|localrc]]
DEST={{ devstack_install_dir }}
LOGFILE={{ devstack_log_file }}
GIT_BASE={{ devstack_git_base }}

ADMIN_PASSWORD={{ devstack_admin_password }}
DATABASE_PASSWORD={{ devstack_database_password }}
RABBIT_PASSWORD={{ devstack_rabbit_password }}
SERVICE_TOKEN={{ devstack_service_token }}
SERVICE_PASSWORD={{ devstack_service_password }}

FIXED_RANGE={{ devstack_fixed_ip_range }}
FLOATING_RANGE={{ devstack_floating_ip_range }}
HOST_IP={{ devstack_host_ip }}

KEYSTONE_BRANCH={{ devstack_keystone_release }}
GLANCE_BRANCH={{ devstack_glance_release }}
NEUTRON_BRANCH={{ devstack_neutron_release }}
NOVA_BRANCH={{ devstack_nova_release }}
CINDER_BRANCH={{ devstack_cinder_release }}
HORIZON_BRANCH={{ devstack_horizon_release }}
CEILOMETER_BRANCH={{ devstack_ceilometer_release }}
HEAT_BRANCH={{ devstack_heat_release }}

SWIFT_BRANCH={{ devstack_swift_release }}
SWIFT_HASH={{ devstack_swift_hash }}
SWIFT_REPLICAS={{ devstack_swift_replicas }}

{% if devstack_neutron_enabled %}
ENABLED_SERVICES+=,q-svc,q-agt,q-dhcp,q-l3,q-meta,neutron
{% endif %}

{% if devstack_ceilometer_enabled %}
ENABLED_SERVICES+=,ceilometer-acompute,ceilometer-acentral,ceilometer-collector,ceilometer-api
ENABLED_SERVICES+=,ceilometer-alarm-notifier,ceilometer-alarm-evaluator
{% endif %}

{% if devstack_heat_enabled %}
ENABLED_SERVICES+=,heat,h-api,h-api-cfn,h-api-cw,h-eng
{% endif %}

{% if devstack_swift_enabled %}
ENABLED_SERVICES+=,s-proxy,s-object,s-container,s-account
{% endif %}
